.formContainer {
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
  }
  
  .formInput {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .formLabel {
    margin-bottom: 5px;
  }